{% comment %}
  <div class="feature-row">
    
      
    <div class="feature-row__item">
      
        
        


        <div id="FeatureRowImageWrapper-1514271355721" class="feature-row__image-wrapper js">
          <div style="padding-top:115.1943463%;">
            <img id="FeatureRowImage-1514271355721" class="feature-row__image lazyautosizes lazyloaded" src="./Tony Hamawy _ Evening Wear &amp; Bridal Gowns Studio_files/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_200x200.gif" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.8680981595092024" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_180x.JPG?v=1514280512 180w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_360x.JPG?v=1514280512 360w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_540x.JPG?v=1514280512 540w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_720x.JPG?v=1514280512 720w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_900x.JPG?v=1514280512 900w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1080x.JPG?v=1514280512 1080w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1296x.JPG?v=1514280512 1296w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1512x.JPG?v=1514280512 1512w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1728x.JPG?v=1514280512 1728w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_2048x.JPG?v=1514280512 2048w" sizes="473px" srcset="//cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_180x.JPG?v=1514280512 180w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_360x.JPG?v=1514280512 360w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_540x.JPG?v=1514280512 540w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_720x.JPG?v=1514280512 720w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_900x.JPG?v=1514280512 900w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1080x.JPG?v=1514280512 1080w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1296x.JPG?v=1514280512 1296w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1512x.JPG?v=1514280512 1512w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1728x.JPG?v=1514280512 1728w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_2048x.JPG?v=1514280512 2048w">
          </div>
        </div>

        <noscript>
          <img src="//cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_600x600@2x.JPG?v=1514280512" alt="" class="feature-row__image" />
        </noscript>
      
    </div>
  
    

    <div class="feature-row__item feature-row__text feature-row__text--left map-timing">
      <div class="map-address">
      <p><strong><center>Tony Hamawy Couture 
        Bridal</center></strong></p>
      
      <span><center><p>266 72ND ST BROOKLYN,<br>
		 NY 11209 UNITED STATES
       </p></center>
      
        <p>&nbsp;</p>
      </span>
        
   </div>
      
      <center>
        <div class="table-cover">
        <table border="0" >
      <tr>
        <th width="10" >Hours:</th><th></th>
          
       <tr>
        <th width="10" >Mon</th>
       
        <td>closed</td>
      </tr>
      <tr>
        <th>Tue</th>
        
        <td>closed</td>
      </tr>
      <tr>
      <th>Wed</th>
      
      <td>closed</td>
      </tr>
      <tr>
      <th>Thu</th>
      
      <td>3:00 pm - 8:00 pm</td>
      </tr>
      <tr>
      <th>Fri</th>
      
      <td>3:00 pm - 8:00 pm</td>
      </tr>
      <tr>
      <th>Sat</th>
      
      <td>10:00 am - 8:00 pm</td>
      </tr>
      <tr>
      <th>Sun</th>
      
      <td>closed</td>
      </tr>
      </table>
        </div>
    
<p><a href="https://calendly.com/info-3084/two-hours-bridal-appointment?month=2020-01&back=1" class="btn">
            REQUEST AN APPOINTMENT
          </a>
  
      </p>
      </center>
    </div>
    <br>
      
      
      	<div class="custom_alignment">
         
     	 </div>
      
   
    
  </div>

{% endcomment %}  
<div class="section-header text-center">
        <h1>Request an Appointment Form</h1>
      </div>
<div class="feature-row" style="align-items: flex-start;">  
  <div class="feature-row__item">
    <div id="FeatureRowImageWrapper-1514271355721" class="feature-row__image-wrapper js">
          <div style="padding-top:115.1943463%;">
            <img id="FeatureRowImage-1514271355721" class="feature-row__image lazyautosizes lazyloaded" src="./Tony Hamawy _ Evening Wear &amp; Bridal Gowns Studio_files/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_200x200.gif" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.8680981595092024" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_180x.JPG?v=1514280512 180w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_360x.JPG?v=1514280512 360w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_540x.JPG?v=1514280512 540w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_720x.JPG?v=1514280512 720w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_900x.JPG?v=1514280512 900w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1080x.JPG?v=1514280512 1080w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1296x.JPG?v=1514280512 1296w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1512x.JPG?v=1514280512 1512w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1728x.JPG?v=1514280512 1728w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_2048x.JPG?v=1514280512 2048w" sizes="473px" srcset="//cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_180x.JPG?v=1514280512 180w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_360x.JPG?v=1514280512 360w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_540x.JPG?v=1514280512 540w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_720x.JPG?v=1514280512 720w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_900x.JPG?v=1514280512 900w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1080x.JPG?v=1514280512 1080w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1296x.JPG?v=1514280512 1296w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1512x.JPG?v=1514280512 1512w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_1728x.JPG?v=1514280512 1728w, //cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_2048x.JPG?v=1514280512 2048w">
          </div>
        </div>

        <noscript>
          <img src="//cdn.shopify.com/s/files/1/2591/2656/files/IMG_4777-BW_600x600@2x.JPG?v=1514280512" alt="" class="feature-row__image" />
        </noscript>
  </div>
    <div class="feature-row__item">      
<!--pifyform-start-->
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-5489" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-5489").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"}}if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-5489";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height}}else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")}}}var d = document.getElementById("pifyform-5489");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-dn.pifyapp.com/form/s/5489";a.id="form-iframe-5489";a.onload=function(){document.getElementById("pifyform-5489").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-5489")){d.appendChild(a);}},50);})(window);</script>
</div>
<!--pifyform-end-->
    </div>
</div>

  