<div class="be-featured-section">
  <div class="text-center">
  	<img src="{{section.settings.image | img_url:'master'}}">
  </div>
  <div class="bridal-content"><p>{{ section.settings.content }}</p></div>
  <div class="text-center"><a href="{{ section.settings.link }}">{{ section.settings.wed-pic }}</a></div>
</div>
{% schema %}
  {
    "name": "Be Featured",
    "settings": [
	{
      "type":"image_picker",
      "id":"image",
      "label":"Image"
	},
	{
      "type":"textarea",
      "id":"content",
      "label":"Description"
	},
	{
      "type":"text",
      "id":"wed-pic",
      "label":"Text"
	},
	{
		"type":"url",
		"id":"link",
		"label":"Link"
	}
	]
  }
{% endschema %}
