<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      {% comment %}
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      {% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
<div class="page-width">
      <div class="section-header text-center virtual-section">
          <img style="max-width: 380px;width: 100%;" src="//cdn.shopify.com/s/files/1/2591/2656/files/image_2023_06_05T14_42_59_686Z.png?v=1686030433" alt=""/>
        <br><br>
        {% comment %}
          <h1>Your contact information for your virtual appointment</h1>
          {% endcomment %}
          <p>Do you have questions regarding our Custom Gown processor or need help with a specific style? <br>We offer a complimentary virtual appointment with the Designer via Zoom to help discuss your ideas & answer your questions.</p>

        <button class="virtual-btn">Book your virtual appointment</button>
      
      </div>
</div>
{% section "virtual_appointment" %}